Models/*
addon/*
Test Sample/*
test_data/*
Backend/Models/*
Backend/__pycache__/main.cpython-311.pyc
deepfaked/00160.mp4
deepfaked/m2_grad.png
deepfaked/m4_grad.png
deepfaked/test.html
deepfaked/two_face.mp3
deepfaked/vlc-record-2024-05-27-15h17m31s-010.mp4-.mp3
images/fake/000_id4_id35_0000.mp4.jpg
images/*
prototype/004_id9_0007.mp4.jpg
prototype/cw_layer.py
prototype/iterative_normalization.py
prototype/main.py
prototype/test.py
prototype/Models/audio_model_epoch5.pth
prototype/Models/bce_final_model_epoch3.pth
prototype/Models/celebdf_final_model.pth
prototype/Models/final_model_epoch2.pth
prototype/Models/Interpretability.py
prototype/Models/xception.pth
prototype/__pycache__/cw_layer.cpython-311.pyc
prototype/__pycache__/iterative_normalization.cpython-311.pyc
prototype/__pycache__/main.cpython-311.pyc
